<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>МФЦ  - {{ title }}</title>
    {% else %}
        <title>МФЦ</title>
    {% endif %}
</head>
<body>

</body>
</html>